airflow_data/
!docker/airflow_data/
docker/airflow_data/airflow/dags/
docker/airflow_data/airflow/spark_jobs/
docker/airflow_data/airflow/trinio_jobs/
docker/airflow_data/airflow/dbt/
docker/airflow_data/airflow/config/
docker/init-scripts/
docker/mariadb-data/
docker/lake/data/
docker/viz/

*.pyc
*.log
